* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(209, 223, 223);
}

.button-row {
    position: fixed;
    top: 8px;
    right: 30px;
    display: flex;
    gap: 5px;
}

header{
    padding-left: 50px;
    padding-top: 25px;

    font-weight: bold;
    font-size: 28px;
}

.block{
    height: 80vh;
    width: 65vw;

    margin: 50px auto;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
    background: white;
}

.block h4{
    font-size: 20px;
    padding-left: 75px;
    padding-top: 25px;
    font-weight: bolder;
}

.block p{
    font-size: 18px;
    padding-left: 50px;
    padding-top: 25px;
}
